/dist/
/target/
/Cargo.lock
/src-tauri/example/
/node_modules/
/example/
/src-tauri/target/
/improvement/
/example/thumbnail/
/t/
./public/movie.tmp.MP4
/tmp/
/.roo/
run.sh
rsync-ui.sh
dev.sh
.aider*
public/movie.tmp.MP4
