/* Footer Component Styles */

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  min-height: 25px;
  max-height: 25px;
  margin: var(--space-1) var(--space-1) 0 var(--space-1);
  padding: 0 var(--space-3) 0 var(--space-1);
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: var(--color-border-default);
}

footer .message {
  text-align: left;
  flex: 3;
}

footer .copyright {
  text-align: right;
  flex: 1;
}

#footer-message {
  text-align: left;
  overflow-x: hidden;
  white-space: nowrap;
}

#footer-message .clipboard {
  color: greenyellow;
}