/* Footer Component Styles */

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  min-height: 25px;
  max-height: 25px;
  margin: 5px 5px 0px 5px;
  padding: 0px 10px 0px 5px;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: var(--border);
}

footer .message {
  text-align: left;
  flex: 3;
}

footer .copyright {
  text-align: right;
  flex: 1;
}

#footer-message {
  text-align: left;
  overflow-x: hidden;
  white-space: nowrap;
}

#footer-message .clipboard {
  color: greenyellow;
}