/* 外枠 */
.scroll-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#photoList .scroll-wrapper {
    height: calc(100vh - 85px);
    padding-top: 25px;
    padding-bottom: 25px;
}

#photoList .scroll-wrapper::-webkit-scrollbar {
    /*    height: calc(100vh - 100px) */
    /*display: none;*/
}

/* スクロール領域 ── スクロールバーを完全に隠す */
.scroll-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* ← スクロール自体は有効 */
    -ms-overflow-style: none;
    /* IE/Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scroll-box::-webkit-scrollbar {
    display: none;
}

/* Chrome/Safari */

/* 影（スクロールヒント） */
.fade {
    position: absolute;
    pointer-events: none;
    /* クリック透過 */
    z-index: 1;
    transition: opacity 0.2s;
}

.fade-top {
    top: 0;
    left: 0;
    right: 0;
    height: 16px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .25), transparent);
}

.fade-bottom {
    bottom: 0;
    left: 0;
    right: 0;
    height: 16px;
    background: linear-gradient(to top, rgba(0, 0, 0, .25), transparent);
}

.fade-left {
    left: 0;
    top: 0;
    bottom: 0;
    width: 16px;
    background: linear-gradient(to right, rgba(0, 0, 0, .25), transparent);
}

.fade-right {
    right: 0;
    top: 0;
    bottom: 0;
    width: 16px;
    background: linear-gradient(to left, rgba(0, 0, 0, .25), transparent);
}
