:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.inner-container,
body {
  overflow-y: hidden;
}

body {
  max-width: 100vw;
  min-width: 100vw;
}

#home-container {
  width: 100%;
  padding: 100px 100px 100px 100px;
}


.inner-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  text-align: center;
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  min-height: 15px;
  margin: 5px 5px 0px 5px;
  padding: 0px 10px 0px 5px;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: white;
}

footer .message {
  text-align: left;
  flex: 3;
}

footer .copyright {
  text-align: right;
  flex: 1;
}

.row {
  flex: 1;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

input,
button {
  outline: none;
}

#search-input {
  margin-right: 5px;
  max-width: 70%;
}

.leftMenu,
.selectedPhoto,
.rightMenu {
  flex: 1;
  height: calc(100vh - 25px);
}

.centerDisplay .photoDisplay {
  flex: 3;
}

.leftMenu {
  max-width: 220px;
  min-width: 220px;

  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: white;
}

.leftMenu .dateList {
  height: calc(90vh - 200px);
  overflow-y: scroll;
}

.leftMenu ul {
  margin-left: 20px;
  text-align: left;
  list-style: none;
}

.centerDisplay {
  width: 100%;
  text-align: center;
}

.selectedPhoto,
.rightMenu {
  min-width: 280px;
  max-width: 280px;
  padding-left: 20px;

  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: white;
}

.centerDisplay,
.photoDisplay,
.importDisplay,
.preferences,
.photoLoadingOn {
  min-width: 200px;
  flex: 1;
  max-width: calc(100vw - 600px);
  min-width: calc(100vw - 600px);
  max-height: calc(100vh - 25px);
  padding: 20px 20px 10px 20px;
  margin: 0 0 0 0px;
}

.preferences {
  overflow: scroll;
}


.importDisplay {
  overflow-y: scroll;
}


.photo-list-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.photo-list-header,
.photo-list-header .navigation,
.photo-list-header .photo-page-info {
  flex: 2;
}

.photo-operation {
  flex: 2;
}

.photo-list-header .photo-page-info {
  text-align: left;
}

.photo-list-header .photo-operation {
  text-align: right;
}

.pict-50 {
  min-width: 70px;
}

.pict-100 {
  min-width: 120px;
}

.pict-200 {
  min-width: 220px;
}

.pict-300 {
  min-width: 320px;
}

#directory-maintenance ul,
.sleectedPhotos ul {
  text-align: left;
}

.photoDisplay .photo {
  overflow-x: scroll;
  overflow-y: scroll;
  max-height: 85vh;
}

.selectedPhotos li {
  list-style: none;
}

.selectedPhotosHidden,
.centerDisplayHidden,
.photoDisplayHidden,
.rightMenuHidden,
.importDisplayHidden {
  display: none;
}

.importDisplay div.photos,
.centerDisplay div.photos {
  text-align: left;
}


.centerDisplay li,
.importDisplay li {
  display: inline;
  padding-right: 20px;
  margin-right: 10px;
}

ul.list-of-selected li {
  margin-left: -40px;
  display: list-item;
  list-style: none;
}

li.selected:after {
  margin-left: -27px;
  font-size: 18px;
  padding: 0 10 10 0px;
  content: " \2705";
  color: red;
}

ul.list-of-selected {
  text-align: left;
  overflow-y: scroll;
  height: calc(100vh - 300px - 200px);
}

#import-container {
  display: flex;
  flex-direction: row;
  max-width: calc(100vw - 600px);
}

#importer-directories-list {
  min-width: 200px;
  max-width: 200px;
  flex: 1;
  min-height: calc(100vh - 250px);
  max-height: calc(100vh - 250px);
  overflow: scroll;
  text-align: left;
}

#importer-directories-list li {
  display: block;
  white-space: nowrap;
}

#importer-files-list {
  min-width: calc(100vw - 800px);
  max-width: calc(100vw - 800px);
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#importer-files-list .row0,
#importer-files-list .row0-center {
  flex: 1;
  margin: 0px;
  min-width: calc(100vw - 800px);
  max-width: calc(100vw - 800px);
}

#importer-files-list .row1,
#importer-files-list .row1-right {
  flex: 1;
  margin: 0px 10px 0px 10px;
  min-width: calc((100vw - 840px) / 2);
  max-width: calc((100vw - 840px) / 2);
}

#importer-files-list .row1 {
  text-align: left;
}

#importer-files-list .row0-center {
  text-align: center;
}

#importer-files-list .navigation {
  width: 100%;
  text-align: center;
}

.importer-photos {
  flex: 1;
  display: flex;
  overflow-y: scroll;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  min-width: calc(100vw - 800px);
  max-width: calc(100vw - 800px);
  min-height: calc(100vh - 300px);
  max-height: calc(100vh - 300px);
}

.photos {
  flex: 1;
  display: flex;
  overflow-y: scroll;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  min-width: calc(100vw - 600px);
  max-width: calc(100vw - 600px);
  max-height: calc(100vh - 150px);
}

.photos .row {
  flex: 1;
  margin: 10px;
  flex-grow: unset;
}

.photos .navigation {
  text-align: center;
  width: 100%;
}

.photo-list-menu {
  float: right;
}

.photo-list-menu input {
  float: right;
  background-color: white;
}

.imageInSelectedPhotos {
  max-width: 100%;
  max-height: 200px;
  overflow-y: scroll;
}


.inner-container:after {
  content: "";
  display: table;
  clear: both;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
}

.photoLoadingOn {
  display: block;
}

.photoLoadingOff {
  display: none;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  font-size: 1.5em;
  content: '\1f980';
  display: block;
  padding-top: 50px;
  width: 65px;
  height: 64px;
  margin: 8px;
  border-radius: 45%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

img.photo_dragging {
  cursor: grabbing;
}

.preferences-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  text-align: left;
}

.preferences-input .row0 {
  flex: 100%;
  min-width: 100%;
  padding-bottom: 10px;
}

.preferences-input .row1 {
  flex: 100px;
  padding-bottom: 10px;
}

.preferences-input .row2 {
  flex: 200px;
  padding-bottom: 10px;
}

.preferences-input .row3 {
  flex: calc(100% - 200px);
  padding-bottom: 10px;
}

.preferences-input input[type=text] {
  width: 400px;
}

.restartRequired {
  color: #ff5555;
}

.create_db {
  color: #55ff55;
}

table {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

table td,
table th {
  text-align: left;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  padding: 2px 5px 2px 5px;
  border-color: white;
}

.star a {
  color: #aa9900
}

.comment textarea {
  width: 100%;
  height: 3em;
}

div.photo-clove {
  font-size: 50px;
  text-align: center;
  padding: 50px;
}

#welcome-container {
  min-height: calc(100vh - 55px);
  height: calc(100% - 15px)
}

#welcome,
#welcome div.introduction,
#welcome ol.tutorial {
  margin-left: 30px;
  font-size: 30px;
}

#welcome-container .welcome-splash {
  text-align: center;
  overflow-y: hidden;
  max-height: calc(100vh - 150px);
  width: calc(100wh - 100px);
  padding: 0px 50px 50px 50px;
}

#welcome-container .welcome-splash img {
  width: 100%;
}

#welcome ol li {
  padding-top: 1em;
  line-height: 1.5em;
}

#welcome ol span.useCount-1 {
  text-decoration: line-through;
}

#welcome ol span.useCount-2 {
  text-decoration: line-through;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.video-on {
  width: 100%;
  height: 100%;
  text-align: center;
}

.video-on video {
  width: 100%;
}

.video-off {
  display: none;
}

ul.tabs-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li.tab {
  margin-right: 15px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background-color: #999;
  border: 1px solid #777;
  border-bottom: none;
  margin-bottom: 10px;
}

li.tab-active {
  background-color: #eee;
  border: 1px solid #ccc;
  border-bottom: none;
  border-bottom-color: transparent;
}

li.tab a,
li.tab-active a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #333;
}

li.tab a:hover {
  display: block;
  padding: 5px;
  text-decoration: none;
  background-color: #ccc;
}

div.tab {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
}

div.tab.active {
  display: block;
}

div#tab-selection img {
  padding: 10px;
}

#photos-list-mini {
  display: flex;
  height: 120px;
}

#photos-list-mini div.row2 {
  flex: 2;
  padding: 10px 10px 10px 10px;
}

#photos-list-mini div.row1 {
  flex: 1;
  min-height: 100%;
  margin-top: calc(50px - 0.5em);
}

#photos-list-mini div.row img {
  object-fit: contain;
}