/* Welcome Component Styles */
#welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 55px);
  height: calc(100% - 15px);
  padding: 20px;
}

#welcome-container h1 {
  margin: 0 0 20px 0;
}

#login-container,
#welcome,
#welcome div.introduction,
#welcome ol.tutorial {
  margin-left: 30px;
  font-size: 30px;
}

#welcome-container .welcome-splash {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  overflow-y: hidden;
  width: 100%;
  padding: 0;
}

#login-container {
  width: 100%;
  text-align: left;
}

#login-container h1 {
  font-size: 1em;
}

#login-container ul li {
  list-style: none;
  font-size: 0.8em;
}

#welcome ol li {
  padding-top: 1em;
  line-height: 1.5em;
}

#welcome ol span.useCount-1 {
  text-decoration: line-through;
}

#welcome ol span.useCount-2 {
  text-decoration: line-through;
}